// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2018 He Yangxuan
 */

/dts-v1/;

#include "meson-gxl-s905d-p230.dts"

/ {
	compatible = "phicomm,n1", "amlogic,s905d", "amlogic,meson-gxl";
	model = "Phicomm N1";

	cvbs-connector {
		status = "disabled";
	};

	leds {
		compatible = "gpio-leds";

		led {
			label = "n1:white:status";
			gpios = <&gpio_ao GPIOAO_9 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};
	};

	dc_in: regulator-vcc_12v {
		compatible = "regulator-fixed";
		regulator-name = "VCC_12V";
		regulator-min-microvolt = <0xb71b00>;
		regulator-max-microvolt = <0xb71b00>;
		regulator-boot-on;
		regulator-always-on;
	};

	vddgpu: regulator-vddgpu {
		compatible = "regulator-fixed";
		regulator-name = "mali";
		regulator-min-microvolt = <0xe7ef0>;
		regulator-max-microvolt = <0xe7ef0>;
		vin-supply = <&dc_in>;
		regulator-boot-on;
		regulator-always-on;
	};
};

&cpu0 {
	i-cache-size = <0x8000>;
	d-cache-size = <0x8000>;
};

&cpu1 {
        i-cache-size = <0x8000>;
        d-cache-size = <0x8000>;
};

&cpu2 {
        i-cache-size = <0x8000>;
        d-cache-size = <0x8000>;
};

&cpu3 {
        i-cache-size = <0x8000>;
        d-cache-size = <0x8000>;
};

&l2 {
	cache-size = <0x80000>;
	cache-unified;
};

&cvbs_vdac_port {
	status = "disabled";
};

&dwc3 {
	snps,usb2-lpm-disable;
};

&usb {
	dr_mode = "host";
};

&sd_emmc_b {
	status = "disabled";
};

&external_mdio {
	compatible = "snps,dwmac-mdio";
};

&uart_A {
	status = "okay";
	pinctrl-0 = <&uart_a_pins>, <&uart_a_cts_rts_pins>;
	pinctrl-names = "default";
	uart-has-rtscts;

	bluetooth {
		compatible = "brcm,bcm43438-bt";
		shutdown-gpios = <&gpio GPIOX_17 GPIO_ACTIVE_HIGH>;
		max-speed = <2000000>;
		clocks = <&wifi32k>;
		clock-names = "lpo";
	};
};

&external_phy {
	/delete-property/ eee-broken-1000t;
};
